header {
    background-color: black;
    height: 325px;
    padding: 200px;
    margin: 0px;
    border: solid black 10px;
    color: #43a5cf;
    font-family: "News Cycle";
    font-size: 45px;
    text-align: left;
    position: relative;
}

.crawl {
    position: relative;
    top: -75px;
    opacity: 1;
    animation: fade-out 2s 5s forwards;
}

@keyframes fade-out {
    to {opacity: 0;}
}

@font-face {
    font-family: StarJedi;
    src: url('Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.intro {
    font-size: 120px;
    color: #ffe81f;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    font-family: "StarJedi";
    animation: title-blast 0s 8s forwards;
}

@keyframes title-blast {
    to {opacity: 1;}
}

body {
    background-image: url('https://wallpapershome.com/images/pages/pic_v/27048.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: 100vh;
    margin: 0px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    border: solid yellow 1px;
    height: 80px;
    color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "StarJedi";
}

.navlink {
    color: yellow;
    text-decoration: none;
    font-size: 30px;
    font-family: "StarJedi";
    opacity: 1;
}

.navlink:hover {
    color: #83EEFF;
}

.starmap {
    background-image: url('https://png.pngtree.com/png-vector/20241231/ourmid/pngtree-cybernetic-square-frame-digital-age-aesthetics-png-image_15002608.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #83EEFF;
    text-align:center;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    padding: 100px;
    box-sizing: border-box;
    position: relative;
    padding: 130px;
    font-family: "News Cycle";
}

.starmap::before {
    content: '';
    position: absolute;
    top:100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background-color: black;
    z-index: -1;
}

.about {
    color: #83EEFF;
    text-align: center;
    font-size: 45px;
    font-family: "News Cycle";
}

.starmapGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
}

.planetTag {
    font-size: 20px;
    color: #83EEFF;
}

.planetMustafar {
    width: 130px;
    height: 130px;
    background-color: transparent;
    border: none;
}

.planetDeathStar {
    width: 130px;
    height: 130px;
    background-color: transparent;
    border: none;
}

.planetTatooine {
    width: 130px;
    height: 130px;
    background-color: transparent;
    border: none;
}

.planetNaboo {
    width: 130px;
    height: 130px;
    background-color: transparent;
    border: none;
}

.planetMustafar img{
    width: 130px;
    height: 130px;
}

.planetDeathStar img{
    width: 130px;
    height: 130px;
}

.planetTatooine img{
    width: 130px;
    height: 130px;
}

.planetNaboo img{
    width: 130px;
    height: 130px;
}

.headshot {
    width: 250px;
    border: dashed #83EEFF 3px;
}

.mustafarScreen,
.deathStarScreen,
.nabooScreen,
.tatooineScreen {
    display: none;
}

.mustafarContent {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
    gap: 20px;
}

.backButtonMustafar {
    font-size: 20px;
    width: 150px;
}

.mustafarText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mustafarText h2 {
    margin: 0;
    font-size: 30px;
}

.mustafarText p {
    margin: 0;
    font-size: 22px;
}

.hellbender {
    width: 350px;
    border: dashed #83EEFF 3px;
}

.deathStarContent h2 {
    font-size: 30px;
}

.deathStarContent p {
    font-size: 22px;
}

.backButtonDeathStar {
    font-size: 20px;
    width: 150px;
}

.gencon {
    width: 350px;
    border: dashed #83EEFF 3px;
}

.tatooineContent h2 {
    font-size: 30px;
}

.tatooineContent p {
    font-size: 22px;
}

.backButtonTatooine {
    font-size: 20px;
    width: 150px;
}

.conservationHike {
    width: 250px;
    border: dashed #83EEFF 3px;
}

.nabooContent {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
    gap: 20px;
}

.nabooContent h2 {
    font-size: 30px;
}

.nabooContent p {
    font-size: 22px;
}

.backButtonNaboo {
    font-size: 20px;
    width: 150px;
}

.planetMustafar:hover {
    scale: 1.05;
}

.planetDeathStar:hover {
    scale: 1.05;
}

.planetTatooine:hover {
    scale: 1.05;
}

.planetNaboo:hover {
    scale: 1.05;
}

.contact {
    background-color: rgba(255, 255, 255, 0.7);
    height: 150px;
}

.projectScreen {
    align-items: center;
    text-align: center;
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.projectBox {
    width: 375px;
    height: 450px;
    background-color: black;
    color: #83EEFF;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.projectHeader {
    color: yellow;
    text-align: center;
    font-size: 42px;
}

.projectBox p {
    font-size: 25px;
}

.projectBox img{
    width: 375px;
    border-radius: 10px;
}

.projectBox:hover {
    scale: 1.04;
    box-shadow: 0px 0px 16px #83EEFF;
}

.myMusic {
    color: #83EEFF;
    font-family: "News Cycle";
    text-align: center;
    background-color: black;
    height: 450px;
    margin: 0px;
    padding: 20px;
}

.soundtrackMenu {
    color: #83EEFF;
    font-family: "News Cycle";
    text-align: center;
    height: 300px;
    margin: 0px;
    padding: 20px;
}